@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply rounded-ijikod-px-20 text-ijikod-xsm;
  }

  .btn-common {
    @apply btn w-ijikod-px-124 h-ijikod-px-40;
  }

  body {
    @apply font-ijikod-open-sans;
  }

  button.red {
    @apply btn-common bg-ijikod-red text-white transition-colors duration-300 hover:bg-red-600;
  }

  button.dark {
    @apply btn bg-ijikod-dark h-ijikod-px-50 w-ijikod-px-270 text-white;
  }

  button.white {
    @apply btn-common bg-white text-black;
  }

  button.textarea {
    @apply mt-5 btn-common bg-ijikod-red h-ijikod-px-50 w-ijikod-px-400 text-white;
  }

  button.apply {
    @apply btn-common mt-4 ml-48  bg-ijikod-red text-white transition-colors duration-300 hover:bg-red-600;
  }

  input.form {
    @apply btn-common mt-5 border-gray-400 text-white text-sm rounded-full  block w-full p-2.5 bg-ijikod-form-color;
  }

  textarea.form {
    @apply mt-5 block w-full p-3 text-base text-white border-gray-400 rounded-3xl bg-ijikod-form-color;
  }

  a.nav-link {
    @apply text-ijikod-sm text-ijikod-dark;
  }

  nav {
    @apply h-ijikod-h-nav bg-white flex justify-between items-center px-5 xxsm:px-8 md:px-28 lg:px-44 xl:px-60 fixed inset-x-0 top-0 z-50;
  }

  h1 {
    @apply text-ijikod-lg sm:text-ijikod-xlg md:text-ijikod-xxlg lg:text-ijikod-xxxlg text-center text-white font-bold;
  }

  h2 {
    @apply text-ijikod-md sm:text-ijikod-xmd md:text-ijikod-xxmd lg:text-ijikod-lg text-white font-bold;
  }

  h3 {
    @apply text-ijikod-xmd text-white font-semibold;
  }

  h4 {
    @apply text-ijikod-sm-md;
  }

  h5 {
    @apply text-ijikod-sm;
  }

  section.main {
    @apply px-5 xsm:px-16 sm:px-20 md:px-32 lg:px-40;
  }
}

@layer components {
  .card {
    @apply py-10 px-8 bg-ijikod-wine-dark flex flex-col rounded-lg;
  }

  .dark-card {
    @apply py-10 px-8 bg-ijikod-gray-dark flex flex-col rounded-lg;
  }

  .hero-shape {
    @apply bg-[url('/shape.png')] h-1/3 w-full bg-cover bg-center bg-no-repeat absolute bottom-0;
  }
}
